@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  background-color: hsl(210, 46%, 95%);
}
.first-alignment{
  display: grid;
  grid: 
    'grid1 grid2 grid3'
    'grid4 grid4 grid3'
    ;
  padding: 10px;
  gap: 20px;
  justify-items: center;
}
.j-and-p{
  display: flex;
  flex-direction: row;
  grid-area: grid4;
}
.general-container{
  font-family: 'Barlow semi condensed', sans-serif;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.daniel-head{
  margin-top: 15px;
  margin-bottom: 0px;
}
.daniel-testimonial-general{
  background-color:  hsl(263, 55%, 52%);
  display: flex;
  flex-direction: column;
  padding: 5px 34px 34px 20px;
  border-radius: 10px;
  height: 200px;
  width: 400px;
  padding-top: 20px;
  padding-right: 20px;
  grid-area: grid1;
}

img{
  object-fit: contain;
  width: 30px;
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  object-position: top;
  display: flex;
  margin-bottom: auto;
  border-color: hsl(0, 0%, 50%);  
}
.daniel-name{
  color:  hsl(0, 0%, 100%);
  font-size: 12px;
  margin-top: 0;
  margin-left: 8px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.graduate-status,
p{
  color:  hsl(0, 0%, 50%);
  font-size: 13px;
  margin-top: 0px;
}

.kira-alignment{
  display: flex;
  flex-direction: row;
}
.kira-name{
  margin-left: 10px;
}
.kira1, .daniel, .jona, .jean, .patrick-name{
  font-weight: 700;
}
.kira-main-writeup{
  line-height: 16px;
}
h1{
  font-size: 13px;
  color: hsl(0, 0%, 100%);
  text-align: left;
}
.daniel-writeup{
  margin-top: 0px;
  width: 400px;
  margin-right: 20px;
  margin-bottom: 0px;
}
.Jonathan-Testimoinal-general{
  display: flex;
  flex-direction: column;
  padding: 20px 34px 34px 20px;
  border-radius: 10px;
  height: 200px;
  width: 180px;
  padding-top: 20px;
  padding-right: 20px;
  background-color: hsl(217, 19%, 35%);
  grid-area: grid2;
}
.jonathan-main-writeup{
  margin-bottom: 0px;
  margin-top: 27px;
}
.jonathan-overveiw-text, .kira-general-text{
  width: 180px;
  margin-top: 10px;
  vertical-align: text-top;
}
.daniel-alignment, .Jonathan-alignment, .patrick-alignmet, .Jeanette-alignment{
  display: grid;
  grid-template-columns: 20px 1fr;
  column-gap: 25px;
  vertical-align: top;
}
.Jonathan-name, .patrick-name{
  color: hsl(0, 0%, 100%);
}
.kira-Testimonial-general{
  display: flex;
  flex-direction: column;
  padding: 20px 34px 34px 20px;
  border-radius: 10px;
  height: 442px;
  width: 180px;
  padding-top: 20px;
  padding-right: 20px;
  grid-area: grid3;
  background-color:  hsl(0, 0%, 100%);
}
.kira-text-head, .jean-heading{
  color:  hsl(217, 19%, 35%);
}
.Jeanette-Testimonial-general{
  display: flex;
  flex-direction: column;
  padding: 20px 34px 34px 20px;
  border-radius: 10px;
  height: 170px;
  width: 180px;
  padding-top: 20px;
  padding-right: 20px;
  background-color:  hsl(0, 0%, 100%);
  grid: grid4;
}
.Jeanette-main-writeup{
  margin-top: 25px;
}

.Patrick-Testimonial-general{
  background-color: hsl(219, 29%, 14%);
  display: flex;
  flex-direction: column;
  padding: 5px 34px 34px 20px;
  border-radius: 10px;
  height: 170px;
  width: 400px;
  margin-left: 20px;
  padding-top: 20px;
  padding-right: 20px;  
  grid-area: grid5;
}
